<div class="flex flex-col justify-center items-center w-full bg-gray-800 text-white text-xs" style="flex: 1 1 3rem;">
  <div class="divide-x">
    <span class="pr-1">本站浏览总访问量：100</span>
    <span class="pl-1">本站访问人数：10</span>
  </div>
  <div class="divide-x">
    <span class="pr-1">&copy;<%= config.author %></span>
    <span class="px-1">Powered by <a href="http://hexo.io" target="_blank" class="text-blue-400">Hexo</a></span>
    <span class="pl-1">Theme - <a href="//github.com/Halyul/hexo-theme-mdui" target="_blank"  class="text-blue-400">heater</a></span>
  </div>
</div>